################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto Hotel/v17
/Hotel/.vs/Hotel/FileContentIndex/107344cc-ec00-45a7-ae9a-223e8c6fd3d4.vsidx
/Hotel/.vs/Hotel/FileContentIndex/25aeb255-5f15-495b-9ca4-d8cce6033b1b.vsidx
/Hotel/.vs/Hotel/FileContentIndex/53af1f12-1f05-487d-af94-e04224b1a806.vsidx
